<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/lstm_date.css">
  <title>Date Selector</title>
</head>
<body>

  <div class="date-selector">
    <div class="button-container">
      <button id="year-btn">Select Year</button>
      <div id="year-dropdown" class="dropdown narrow-dropdown">
        <!-- Year options will be added dynamically using JavaScript -->
      </div>
    </div>

    <div class="button-container">
      <button id="month-btn">Select Month</button>
      <div id="month-dropdown" class="dropdown narrow-dropdown">
        <!-- Month options will be added dynamically using JavaScript -->
      </div>
    </div>

    <div class="button-container">
      <button id="day-btn">Select Day</button>
      <div id="day-dropdown" class="dropdown narrow-dropdown">
        <!-- Day options will be added dynamically using JavaScript -->
      </div>
    </div>

    <button id="generate-btn">Generate</button>
  </div>

  <script src="../static/js/lstm&seq2seq.js"></script>
</body>
</html>
