<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/charts/js/fusioncharts.js"></script>
    <script type="text/javascript" src="../static/charts/js/themes/fusioncharts.theme.fusion.js"></script>
    <script rel="text/javascript" src="../static/js/seq2seq.js"></script>
    <link rel="stylesheet" href="../static/styles/lstm_date.css">

    <title>Date Selector</title>
</head>
<body>
<label for="columnSelect">Select Column:</label>
<select id="columnSelect">
</select>

<label for="startDate">Start Date:</label>
<input type="date" id="startDate">

<button onclick="updateCharts()">Update Charts</button>
<div id="chart-container"></div>
</body>
</html>
